.button {
   display: inline-block;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
 }

 .primary{
  background-color: #009A6C;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
 }

 .secondary{
   background-color: #fff;
   border-radius: 4px;
   color: #009A6C;
   border: none;
 }

 .outline{
  border-radius: 4px;
  color: #009A6C;
  border-color: #009A6C;
  background-color: #ffffff;
 }

 .button:hover {
   background-color: #45a049;
   color: white;
 }
 
 .button:active {
   background-color: #3e8e41;
 }