<div class="navbar">
  <div class="logoContainer">
    <img class="logo" src="../../../../assets/homelogo.png" alt="" />
  </div>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (keyup)="search()"
    />
    <app-button variation="primary" label="Search" (clicked)="search()" />
  </div>
  <div class="icons">
    <div><i class="pi pi-heart-fill icon"></i></div>
    <div><i class="pi pi-shopping-cart icon"></i></div>
    <div>
      <app-button width="120px" variation="primary" label="Login"></app-button>
    </div>
  </div>
</div>
